@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    
}
:root{
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%)

}
.logo{
    margin-left: 0;
    
}
.parrafo{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--MediumGray);
}
#navegator{
    
    margin-left: 70px;
}
  .contenedor{
    font-family: 'Epilogue', sans-serif;
    display: flex;
    list-style: none;
    text-decoration: none;
    gap:20px;
    position: absolute;
    background-color: rgb(255, 255, 255);

  }
  .submenu{
    list-style: none;
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 15px;

    border: 1px solid #aaa;
    margin-top: 30px;
    margin-right: 3;
    box-shadow: 2px 2px 15px rgba(0,0,0,.3);
    
    
    

  }
#features{
    left: 90px;
    padding: 5px;
    padding-left: 0;
}
#company{
    left: 250px;
    padding: 5px;
    padding-left: 0;
}

li:hover{
    background-color: rgb(182, 182, 182);
    border-radius: 13px;
    

}
#image1 {
    display: inline-flex;
}
#image2 {
    display: none;
}
li:hover #image1{
    display: none;

}
li:hover #image2{
    display: inline-flex;

}
.servicios:hover .submenu{
    display:block;
   
    
}
.title_h1{
    font-weight: 700;
    font-size: 70px;
    font-family: 'Epilogue', sans-serif;
}

#boton1{
    display: flex;
    align-items: center;
    background-color: white;
    text-decoration: none;
    color: black;
    margin-right: 40px;
    padding-bottom: 5px;

}
#boton1:hover{
    background-color: black;
    text-decoration: none;
    color: white;
}
#botones{
    font-family: 'Epilogue', sans-serif;
}
